.form-group,.btn{
  margin-top: 1rem;
}

h3{
  margin-left: 33%;
  font-family:  Arial, sans-serif;
}
.btn:hover{
  background-color: #1dcff3;
  transition: 0.7s;
}

.col-md-4{
  margin-left: 35%;
}


form{
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  border-radius: 20px;
}

.divi{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
